@model IEnumerable<StaffApp.Data.Order>

@{
    ViewData["Title"] = "CustomerOrders";
}

<h1>CustomerOrders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Order Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products)
            </th>
            <th>
                Invoice Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoices.Staff)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    £@Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Products.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Invoices.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Invoices.Staff.Forename)
                    @Html.DisplayFor(modelitem => item.Invoices.Staff.Surname)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
