@model IEnumerable<StaffApp.Data.PriceHistory>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.First().product.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.First().product.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.First().product.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.First().product.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.First().product.StockLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.First().product.StockLevel)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EffectiveFrom)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.EffectiveFrom)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="CreateNewPrice" asp-route-id="@Model.First().product.id">Add New Price</a> |
    <a asp-action="Index">Back to List</a>
</div>
