@model IEnumerable<StaffApp.Web.Services.ProductRequests.ProductRequestProductsDTO>

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.First().Name" class="control-label"></label>
                @Html.DropDownListFor(x => x.First().Name, new SelectList(Model, "Name", "Name"))
            </div>
            <div class="form-group">
                <label asp-for="@Model.First().Quantity" class="control-label"></label>
                <input asp-for="@Model.First().Quantity" class="form-control" />
                <span asp-validation-for="@Model.First().Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

